---
---

// start content
html {
  scroll-padding-top: 50px;
}

@font-face {
  font-family: StylizedFont;
  src: url("tff/Helloworld.ttf");
}

:root{
  /* Color Palette */
  --vanilla: #d3f8e2;
  --flax: #c6dc93;
  --gold-metallic: #84a02b;
  --bronze: #589d62;
  --umber: #1a512e;
}

body {
  background-image: url("/img/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--flax);
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}

.navbar {
  font-size: 20px;
  max-height: 50px;
}

.navbar-brand {
  transition: transform .2s ease-in-out;
  transform-origin: top left;
  border-radius: 50% / 50%;
  img {
    border-radius: 50% / 50%;
    border: 3px solid black;
  }
}

.banner {
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1320px;
  h1 {
    font-family: StylizedFont;
    font-size: 60px;
    margin-bottom: 0px;
    color: white;
  }
  img {
    padding: 0px;
    box-shadow: 10px 10px 5px black;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

a:not(.btn, .nav-link) {
  text-decoration: none;

  &:link, &:visited, &:active {
    color: var(--umber);
    background-color: transparent;
  }

  &:hover {
    color: var(--bronze);
    background-color: transparent;
    text-decoration: underline;
  }
}

.container-fluid {
  box-shadow: 0px 5px 5px black;
}
.bg-flax {
  background-color: var(--flax);
}
.bg-gold {
  background-color: var(--gold-metallic);
}

.card {
  border-radius: 10px;
  background: var(--vanilla);
  border: 2px solid var(--umber);
  box-shadow: 5px 5px 5px black;
}
.modal-content {
  border-radius: 10px;
  background: var(--vanilla);
  border: 2px solid var(--umber);
  box-shadow: 5px 5px 5px black;
}
.modal-header {
  border-bottom: 2px solid var(--umber);
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  box-shadow: 5px 5px 5px black;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.btn:hover > img{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.supporters {
  position: relative;
  height: 800px;
  overflow: hidden;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
}

.animate {
  position: absolute;
  animation: 120s credits linear infinite;
  -webkit-animation: 120s credits linear infinite;
}

@keyframes credits {
  from {
    top: 100%;
  }
  to {
    top: -675%;
  }
}

footer {
  margin-top: auto;
}

.post {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    box-shadow: 5px 5px 5px black;
  }
  .video-container {
    width: 90%;
  }
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

blockquote{
  font-size: 1.4em;
  width: 80%;
  margin: 20px auto;
  font-style: italic;
  color: black;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid var(--umber);
  line-height: 1.6;
  position: relative;
  background: var(--vanilla);
  box-shadow: 5px 5px 5px black;

  &::before{
    font-family: Arial;
    content: "\201C";
    color: var(--umber);
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
  }
  &::after{
    content: '';
  }
}

.carousel {
    position: relative;
}

.carousel ul {
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-snap-points-y: repeat(100%);
    scroll-behavior: smooth;
    background: gray;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

.carousel ul::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for Chrome, Safari and Opera */
}

.carousel ul li {
    position: relative;
    min-width: 100%;
    list-style: none;
    background: url() center center / cover no-repeat;
    scroll-snap-align: start;
}

.carousel ul li > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.carousel ul li > img {
    object-fit: cover;
}

.carousel ul li > div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.carousel ol {
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

.carousel ol li {
    list-style: none;
    padding: 0 5px;
}

.carousel ol li a {
    display: block;
    height: 10px;
    width: 10px;
    border: 2px solid white;
    background: transparent;
    border-radius: 100%;
}

.carousel ol li.selected a {
    background: white;
}

.carousel .prev, .carousel .next {
    display: none;
    user-select: none;
    cursor: pointer;
    font-size: 50px;
    color: white;
    position: absolute;
    left: 0;
    padding: 15px 15px 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    line-height: 0;
}

.carousel .next {
    left: auto;
    right: 0;
}
