<div class="card sidebar">
  <div class="card-body">

    <h3 class="card-title">Newsletters</h3>
    <div class="row g-4">
      {{ range ( where site.RegularPages "Section" "archives" | shuffle | first 3 ) }}
      <div class="col-12">
        <a href={{ .Permalink }}><h5>{{ .Title }}</h5></a> - {{ .Params.Author }} | {{ dateFormat "January 2, 2006" .Date.Local }}
      </div>
      {{ end }}
    </div>

    <hr>
    <h3 class="card-title">Subscribe</h3>
    <p class="card-text">Subscribe to our Google Group for weekly notifications!</p>
    <div class="text-center">
      <a class="btn btn-outline-dark" href="{{ site.Params.subscribe }}" role="button">
        <iconify-icon icon="dashicons:groups"></iconify-icon> &nbsp; Subscribe!
      </a>
    </div>
  </div>
</div>
